:root {
  --collapsible-vpadding: 12px;
}
.collapsible-header {
  position: relative;
  display: flex;
  span {
    display: inline-block;
    flex: auto;
    padding: var(--collapsible-vpadding) 20px;
  }
  span.referencer {
    padding-left: 0;
  }
}

.collapsible-body {
  height: 0;
  overflow: hidden;
  position: relative;
  transition: height .3s, padding .3s;
  .collapse-item {
    transition: padding .3s;
    padding: 0px 20px;
  }
}

.collapsible-body .collapse-item.collapsible-padding {
  padding: var(--collapsible-vpadding) 20px;
}

.collapsed {
  position: absolute;
  visibility: hidden;
}

.collapsible-body.expanded {
  height: 90px;
  visibility: visible;
  position: relative;
}