:root {
    --navbar-solid-color: 
}

.discover {
    background-image: none;
    height: var(--nav-height);
    nav.flatNav {
        background-color: var(--bg-color-1);
        color: var(--tx-color-1);
        .dropdown {
            border-radius: 10px;
            li:first-child a {
                border-top-left-radius: 10px;
                border-top-right-radius: 10px;
            }
            li:last-child a {
                border-bottom-left-radius: 10px;
                border-bottom-right-radius: 10px;
            }
            .mini-dropdown {
                border-radius: 10px;
                & li:first-child a {
                    border-top-left-radius: 0px;
                }
            }
        }
    }
    nav.flatNav.bright-nav {
        #logo img {
            filter: none;
        }
        .dropdown {
            box-shadow: 0px 10px 10px rgba(255, 102, 0, 0.212);
            a {
                background-color: var(--bg-color-1);
                &:hover {
                    background-color: bisque;
                }
            }
            .mini-dropdown {
                box-shadow: 0px 10px 10px rgba(255, 102, 0, 0.212);
            }
        }
        .menu span {
            background: var(--tx-color-1);
        }
    }
}

.discover-container {
    display: grid;
    grid-template-columns: auto 1fr;
    padding: 60px 0;
    .collapsible {
        padding: 12px 0;
        margin: 0;
        background-color: var(--bg-color-2);
        max-width: 340px;
        font-family: 'Inter';
        i {
            padding: var(--collapsible-vpadding) 20px;
            padding-right: 10px;
            display: flex;
            align-items: center;
        }
        .collapse-item {
            padding-left: 44px;
            &:hover {
                cursor: pointer;
                background-color: rgba(0,0,0, .1);
            }
        }
        .collapsible-header {
            position: relative;
            .collapse-item {
                padding-left: 20px;
            }
            &::after {
                content: '';
                top: 0;
                left: 20px;
                position: absolute;
                width: calc(100% - 40px);
                height: 1px;
                background-color: rgba(134, 134, 134, 0.425);
            }
        }
        li:first-child .collapsible-header::after {
            height: 0;
        }
    }
    .discover__content {
        padding: 0 60px;
        padding-bottom: 30px;
        position: relative;
        overflow: hidden;
        img.layered, .layered-color {
            height: 100%;
            left: 0;
            top: 0;
            z-index: -2;
            position: absolute;
        }
        .layered-color {
            width: 100%;
            z-index: -1;
            background-color: var(--bg-color-1);
            opacity: .9;
        }
        h2 {
            text-align: left;
        }
        .content__face {
            visibility: hidden;
            display: none;
        }
        .active-content {
            display: block;
            visibility: visible;
        }
    }
}