
.iti__flag {background-image: url("../assets/intl-tel-input-master/build/img/flags.png");}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .iti__flag {background-image: url("../assets/intl-tel-input-master/build/img/flags.png");}
}

.iti__country-list {
  background-color: var(--bg-color-2);
}